defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: nervesproject/nerves_system_br:latest
  environment:
    ENV: CI
    MIX_ENV: test
    ELIXIR_VERSION: 1.7.4-otp-21
    LC_ALL: C.UTF-8

install_elixir: &install_elixir
  run:
    name: Install Elixir
    command: |
      wget https://repo.hex.pm/builds/elixir/v$ELIXIR_VERSION.zip
      unzip -d /usr/local/elixir v$ELIXIR_VERSION.zip
      echo 'export PATH=/usr/local/elixir/bin:$PATH' >> $BASH_ENV

install_hex_rebar: &install_hex_rebar
  run:
    name: Install hex and rebar
    command: |
      mix local.hex --force
      mix local.rebar --force

install_nerves_bootstrap: &install_nerves_bootstrap
  run:
    name: Install nerves_bootstrap
    command: |
      mix archive.install hex nerves_bootstrap "~> 1.0" --force

version: 2

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - <<: *install_elixir
      - <<: *install_hex_rebar
      - <<: *install_nerves_bootstrap
      - restore_cache:
          keys:
            - v1-mix-cache-{{ checksum "mix.lock" }}
      - run: mix deps.get
      # SUDO=true -> disable autodetection of a host build and the "helpful"
      # call to sudo
      - run: SUDO=true mix compile
      - run: mix test
      - run: mix format --check-formatted
        #- run: mix hex.build
      - run: mix docs
      - run: mix dialyzer --halt-exit-status
      - save_cache:
          key: v1-mix-cache-{{ checksum "mix.lock" }}
          paths:
            - _build
            - deps

